* {
	box-sizing: border-box;
	font-family: 'Roboto', sans-serif;
	margin: 0;
	padding: 0;
}

body {
	line-height: 1.5;
}

:root {
	--dark-slate: hsl(234, 29%, 20%);
	--charcoal: hsl(235, 18%, 26%);
	--grey: hsl(231, 7%, 60%);
	--white: hsl(0, 0%, 100%);
}
